{% extends "base.html" %}

{% block title %} - List{% endblock %}

{% block content %}
    <h1>Tasks</h1>

    {% if tasks %}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Priority</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.priority }}</td>
                    <td>
                        <a href="{% url task_edit task.id %}">Edit</a>
                        <a href="{% url task_delete task.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There is no tasks.</p>
    {% endif %}
    <p><a href="{% url task_add %}">Add</a> a new one?</p>
{% endblock %}
